<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Used Bike Price Predictor</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="login">
        <h1>Predicts the price of used bikes</h1>
        <h3>Enter the following values </h3>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">
            <input type="text" name="Distance driven" placeholder="Distance driven (in kms)" required="required" />
            <input type="text" name="Age" placeholder="Age" required="required" />
            <input type="text" name="Power" placeholder="Power" required="required" />
            <label for="Owner">Choose owner</label>
            <select name="Owner" id="Owner" required="required">
                <option>First Owner</option>
                <option>Second Owner</option>
                <option>Third Owner</option>
                <option>Fourth Owner or more</option>
            </select>
            <label for="Brand">Choose Brand</label>
            <select name="Brand" id="Owner" required="required">
                <option>BMW</option>
                <option>Bajaj</option>
                <option>Benelli</option>
                <option>Ducati</option>
                <option>Harley-Davidson</option>
                <option>Hero</option>
                <option>Honda</option>
                <option>Hyosung</option>
                <option>Ideal</option>
                <option>Indian</option>
                <option>Jawa</option>
                <option>KTM</option>
                <option>Kawasaki</option>
                <option>LML</option>
                <option>MV</option>
                <option>Mahindra</option>
                <option>Rajdoot</option>
                <option>Royal Enfield</option>
                <option>Suzuki</option>
                <option>TVS</option>
                <option>Triumph</option>
                <option>Yamaha</option>
                <option>Yezdi</option>
            </select>
            <button type="submit" class="btn">Predict</button>
        </form>

        <br>
        <br>
        {{ prediction_text }}

    </div>


</body>

</html>